.form {
  display: grid;
  grid-template-columns: 1fr 5.625rem;
  gap: 0.5rem;
}

.input {
  background-color: var(--gray-500);
  color: var(--gray-100);
  padding: 1rem;
}

.input::placeholder {
  color: var(--gray-300);
}

.createBtn {
  background-color: var(--blue-dark);
  color: var(--gray-100);
  font-weight: 700;
  transition: background-color 0.15s;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createBtn span {
  display: flex;
  align-items: flex-end;
}

.createBtn svg {
  margin-left: 0.5rem;
  height: 1.4rem;
}

.createBtn:hover {
  background-color: var(--blue);
}